language: node_js
node_js:
- '6.11.0'
- 'stable'

sudo: false
dist: trusty

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

cache:
  directories:
  - node_modules

env:
  matrix:
  - EMBER_TRY_SCENARIO=ember-lts-2.8
  - EMBER_TRY_SCENARIO=ember-lts-2.12
  - EMBER_TRY_SCENARIO=default
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary
  global:
    - CXX=g++-4.8
    - secure: tac6xsCM4g2jUoimHNiL6ePnMCHrXBSL5FwwqdexkfNUjY4iduTN5te5PJDyjVBJYvDCmn22sitcSI5KjPip/m6MC7LM9l5X+Ut2RCoqttjXR7UL+2O53wIAcQ1Np6yYy+leiL6A6+vH/nRrhjArVk2b+B0JdMBSxKX3rNTCkjbep+vTsKmuqmpXOIM9RbBwi6OS3LMjQNk198qHL10ayVzP+Nc5Xf7262VVObR9eivRGma/MhXbv0qAALCoOsS0aK5KXAwXziCQwa3V7KNhtlWgaMVU/fHNKpan23ahv3b5ZMTnbfPI6oPyqLYge931MKibmaaUOe0pKaqSewUJK9RkDW+0qh1MLrY8hC0MgET9aFRSXE1SWIRQViDG7PTUxHE8DnReQnNNE3fYqP4kYakUbbHCPD6q+21CV76y4fRxRsBg/8tgUtf/OuO2fjXLjC+ZBOa5/SFosVnw2Nn0agd+JHnbaO0JEM2dZCoz6JxWVYvG98QvE/rwHY/AeIHeuNTdUZVws6evHzLlkiQaQlIWMtqoV5ThOu1tBU4TuuNeIIswX1D9ucjjufdXzsQRQlgQ2HfV7mEj6nTRIyGhpaobV8WnavLtqsvSc/V1kcW9PTQdim/oA9Z4wHwrW22TBA+HpomRXUQo3LsiYLACzI0i5s9o/aeIR9eJGzD7xAI=

matrix:
  fast_finish: true
  allow_failures:
  - env: EMBER_TRY_SCENARIO=ember-canary
  - node: 'stable'

before_install:
- npm config set spin false
- npm install -g coveralls pr-bumper@^2.0.0
- $(npm root -g)/pr-bumper/.travis/maybe-check-scope.sh

install:
- $(npm root -g)/pr-bumper/.travis/maybe-install.sh

before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start

script:
- $(npm root -g)/pr-bumper/.travis/maybe-test.sh
- .travis/maybe-bump-version.sh

after_success:
- .travis/maybe-publish-coverage.sh
- .travis/maybe-publish-gh-pages.sh

deploy:
  provider: npm
  email: npm.ciena@gmail.com
  skip_cleanup: true
  api_key:
    secure: ZHHk6EOGjm4emGgPZQk5COpiSDG+SSvfFgLI4wnFPf5kIiYM4klWA+gaLM0LAAOLTHb0lKKdRzneynp4pST4VtSZQ/M65qZ5fAVpfRAg2dFU71CUTmLxReW7NEGl/XXnXt9t21KPfr3kWS1Xu7lIuvURhofOPNn+89HXJBAh8XGygfou/43RMVj0+URinP8Ka7fwXG6HuwdJjhG7upicob+reQvHK82+y/yyDgoSY4HAnJ8n9H2sVoQkOwZ/qzfunwZiTgJS+qxPBtcI1AhKb4rfCz884b21VavlmwNKO5Ipq8EGIprb/b8fsL5byhJFSP7+D4Vw/CwM5hLdONbovt73asmLc6gtygIM+BNOpO0LmtjT5TqLsbg+oGcd3GLkMi3kqAp8oTlLhQ1IU+XQlbB88oiVzEswBj7CrPx+4ZOev80nMnUgb3lEPVj7O2C1lt1zXWeH4xiOdzKiFMlrR5Ga9nY/cnQN3J1++GXgniozyQIyefKaqXT4qMZz+4FFnwlOKkTeVAf6lkiVKeKdE2f+TF5pFtullqfJCHSZfcLAEqQUGJphzhkWBeakYy7kFPZyasX+875ps1zjeZ42i1sQuEFWj6F1vNzFEJpp+7vw0bgB+LrLj4zVu3KM4r/r8p+cD8KnhsvejggoEue+8jD5EK8uFFe5AfLJFsNkO4U=
  on:
    all_branches: true
    condition: "$EMBER_TRY_SCENARIO = 'default'"
    node: '6.11.0'
    tags: true
notifications:
  slack:
    secure: Jv3DoJADOOFx1sDRls9M7zqap8JrxqoM9UjSqkYsYBrg864To1mhXDL6ZMdFte27mXWw2hRYoisKNtQvtvemFdRvuiLixBsnl5ISvdIMnGnoYD6iOBM/IovgvKCM+wN3yphWLiI9LfmR1ASU1aBSysyPjYrC/P4xu0Pdp/R/Ah/xn31ei2k6+U2pNXbxVeMSMmXTtQqNYfyeO8rvmcm5LMpavD8j6tVktsR7M0NU5pM1Z9XVjruJRM1fYh9x0CtXk3GTxZ90EKrFReeIskpt3MPtpIOx+3Zwfpyug8QNRzh9iK8CtggNcUpx109KN0iNOfSG3jhLx9z5/LpHT1SAeQurh3dqgjRUPdrrLcsVy5HhHWAxCEdh1Md6DWa/t2M6fqXj+vmvR9Uyfl9jxNVoAEmhJksc74O1JCna7VDVHFxiIYbpniLWcOG8lw3CmRKQ/6UB8aUDny7VYh8L6a//+u149Np6fIFt2C59qxtZ8RHIgQtHiN7mhogP7zpYGT2oRmfj9MGdqpiqk4wsM4qfFO2hNjZB2Uk/nLvNMfAYCobijfY/qwyXaXRN6INdWRAfI4+v8BA2ptOmFo6077ZkmTHKvm6EUBL9xc2TKMRScuoMSITuJktKWA4dVy0/da3EPci0eWRYA4DWLDGCteNzqQD7qRsEkcS/vzrOQ01/cCw=
