@import 'frost-app';
@import 'frost-theme';

.dummy-body {
  padding: 0 10px;
}

p {
  padding: 10px;
  max-width: 980px;
}

pre {
  margin: 0;
}

hr {
  text-align: left;
  margin-left: 0;
  width: calc(100vw - 250px);
}

.section-header {
  margin: 10px 0;
  font-size: $frost-font-xl;
  color: $frost-color-white;
  width: calc(100vw - 250px);
  height: 55px;
  background-color: $frost-color-blue-1;
  padding: 10px;
}

.section-header a {
  float: right;
  font-size: $frost-font-m;
  padding-top: 5px;
  margin-right: 10px;
  color: $frost-color-white;
  text-decoration: none;
}


.section-title {
  font-size: $frost-font-xl;
  padding: 10px;
}

.dummy-body .title {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: $frost-font-family;
  font-size: $frost-font-l;
}

.dummy-body .section {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: calc(100vw - 250px);
  padding-left: 10px;

  > .title {
    font-size: $frost-font-xl;
    padding-bottom: 20px;
  }

  .example {
    padding-right: 25px;
    padding-bottom: 10px;

    > .title {
      font-size: $frost-font-l;
      padding-bottom: 15px;
    }

    .snippet {
      display: inline-block;
      font-size: $frost-font-s;
      margin-right: 20px;
      vertical-align: top;
    }

    .demo {
      display: block;
      vertical-align: top;
      margin-bottom: 10px;
      > .frost-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
      }
    }
  }
}


