{{#sample-component
  property=controllerProperty
}}
  {{!--#block-slot slot 'header'}}
    Header yield
  {{/block-slot--}}
  {{#block-slot 'body' as |hash|}}
    Body yield: {{hash.content}}
  {{/block-slot}}
  {{#block-slot 'widget' as |property|}}
    Widget yield: {{property}}
  {{/block-slot}}
  {{#block-slot 'footer' as |positionalParam|}}
    Footer yield: {{positionalParam}}
  {{/block-slot}}
{{/sample-component}}

<button onclick={{action (action 'updateControllerProperty')}}>Update controller property</button>